body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: black;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  /* padding-bottom: 196px; */
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}

.section-title {
  position: relative;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  position: absolute;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  bottom: 0;
  left: 0;
}

.link {
  color: #006dfe;
  text-decoration: none;
  background: url("../media/arrow.svg") 95% center no-repeat;
  transition: 0.2s;
}

.link:hover,
.link:focus {
  background: url("../media/arrow.svg") right center no-repeat;
}

/* Header start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s;
  padding-bottom: 20px;
}

.header-active {
  background-color: #0e1d28;
  transition: 0.4s linear;
  z-index: 5;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.header__item-link:hover,
.header__item-link:focus,
.header__item-link:active {
  opacity: 0.75;
}

/* header end */

/* intro start */

.intro-bg {
  min-height: 100%;
  background: url("../media/intro-bg.jpg");
  background-size: cover;
  background-position: 0 0;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro__title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 22px;
}

.intro__sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form {
  padding-bottom: 196px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background-color: transparent;
  background: url("../media/oval.svg") no-repeat left 6px;
  background-size: 20px;
  border: 0;
  margin-right: 60px;
  padding-bottom: 22px;
  padding-left: 43px;
  border-bottom: 2px solid #bfc0c5;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.search-form__field::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.search-form__submit {
  padding: 15px 39px 14px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  background-color: #1b7dff;
  border: 0;
}

.search-form__submit:hover,
.search-form__submit:focus,
.search-form__submit:active {
  background-color: #0d5abf;
}

/* intro ends */

/* benefits start */

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  background-color: #ffffff;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-img {
  margin-bottom: 37px;
  max-width: 66px;
}

.benefits__card-img > img {
  display: block;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-link {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  padding-right: 59px;
  text-transform: uppercase;
}

/* benefits end */

/* places start */

.places {
  margin-bottom: 131px;
}

.places__captions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.place__title {
  margin-right: 15px;
}

.places__view-all {
  font-size: 16px;
  text-transform: uppercase;
  padding-right: 59px;
}

.places__cards {
  display: grid;
  gap: 10px;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
}

.places__card {
  display: block;
  position: relative;
  overflow: hidden;
}

.places__card::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 24, 36, 0.4);
  z-index: 2;
}

.places__card:hover .places__card-img {
  transform: scale(1.05);
  transition: 0.2s;
}

.places__card-img {
  transition: 0.2s;
}

.big {
  height: 354px;
  grid-column: span 3;
}

.small {
  height: 283px;
  grid-column: span 2;
}

.places__card-title {
  position: absolute;
  bottom: 27px;
  left: 29px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  z-index: 3;
}

.places__card-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

/* places end */

/* tours styles start */

.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour__info-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__link {
  padding-right: 59px;
}

/* tours styles end */

/* top places to visit start */

.visit {
  margin-bottom: 86px;
}

.visit__title {
  margin-bottom: 54px;
}

.visit__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
  align-items: center;
  margin-bottom: 77px;
}

.visit__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.visit__card-figure {
  position: relative;
  margin-bottom: 45px;
}

.visit__card-stats {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(21, 24, 36, 0.6);
  color: #fff;
}

.visit__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 0 0;
}

.visit__card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-right: 20px;
  background: url(../media/heart.svg) right center no-repeat;
  margin-right: 14px;
}

.visit__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-right: 20px;
  background: url(../media/comments.svg) right center no-repeat;
}

.visit__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}

.visit__card-link {
  width: 118px;
  margin: auto 0 0 0;
  padding: 12px 19px;
  background-color: #006dfe;
  text-decoration: none;
  color: #fff;
}

.visit__card-link:hover,
.visit__card-link:focus,
.visit__card-link:active {
  background-color: #0d5abf;
}

/* top places to visit end */

/* video starts */

.video-wrapper {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video-item {
  padding-top: 56.25%;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* video ends */
